torch==1.8.1+cu102 torchvision==0.9.1+cu102 torchaudio===0.8.1 -f https://download.pytorch.org/whl/torch_stable.html
opencv-python
pafy 
PyQt5
numpy==1.20.2
opencv-python==4.3.0.36
matplotlib==3.3.4
pillow==8.2.2
Shapely==1.7.1
